## PANDAS

Pandas (Python Data Analysis Library)

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',20)

## SERIES

A Series is a 1-dimensional labeled array.

Think of it as:

One column of data (with an index)

In [18]:
import pandas as pd

s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [19]:
values = [10, 20, 30]
index  = ['a', 'b', 'c']

s = pd.Series(values, index=index)
print(s)

a    10
b    20
c    30
dtype: int64

## Pandas DataFrame

two-dimensional labeled data structure with columns of potentially different types
A DataFrame is a 2-dimensional table of data in Python (using Pandas) where:

Data is stored in rows and columns

Each column has a name

Each row represents one record / observation

Columns can have different data types

Think of it like:

an Excel sheet

a SQL table

a CSV file loaded into memory

In [1]:
import pandas as pd

products_data = {
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Webcam'],
    'Price': [1200, 25, 75, 300, 80],
    'Stock': [15, 100, 50, 30, 45],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Accessories']
}

df_products = pd.DataFrame(products_data)
df_products

    Product  Price  Stock     Category
0    Laptop   1200     15  Electronics
1     Mouse     25    100  Accessories
2  Keyboard     75     50  Accessories
3   Monitor    300     30  Electronics
4    Webcam     80     45  Accessories

In [2]:
df_products.Price

0    1200
1      25
2      75
3     300
4      80
Name: Price, dtype: int64

In [4]:
df_products.shape

(5, 4)

ML Dataset

In [ ]:
import numpy as np
import pandas as pd

# Create Iris dataset manually (famous ML dataset)
np.random.seed(42)  # for reproducibility

# Number of samples
n_samples = 150
n_per_class = 50

# -------------------------
# Setosa (smaller flowers)
# -------------------------
setosa = pd.DataFrame({
    'sepal_length': np.random.normal(5.0, 0.35, n_per_class), # 1 SD → 5.0 ± 0.35 → 4.65 to 5.35. Most values will be betwen these
    'sepal_width':  np.random.normal(3.4, 0.38, n_per_class),
    'petal_length': np.random.normal(1.5, 0.17, n_per_class),
    'petal_width':  np.random.normal(0.25, 0.11, n_per_class),
    'species': 'setosa'
})

# -------------------------
# Versicolor (medium flowers)
# -------------------------
versicolor = pd.DataFrame({
    'sepal_length': np.random.normal(5.9, 0.52, n_per_class),
    'sepal_width':  np.random.normal(2.8, 0.31, n_per_class),
    'petal_length': np.random.normal(4.3, 0.47, n_per_class),
    'petal_width':  np.random.normal(1.3, 0.20, n_per_class),
    'species': 'versicolor'
})

# -------------------------
# Virginica (larger flowers)
# -------------------------
virginica = pd.DataFrame({
    'sepal_length': np.random.normal(6.6, 0.64, n_per_class),
    'sepal_width':  np.random.normal(3.0, 0.32, n_per_class),
    'petal_length': np.random.normal(5.6, 0.55, n_per_class),
    'petal_width':  np.random.normal(2.0, 0.27, n_per_class),
    'species': 'virginica'
})

# Combine all classes into one DataFrame
iris_df = pd.concat([setosa, versicolor, virginica], ignore_index=True)

iris_df.head() # shows first few rows - first 5 rows

   sepal_length  sepal_width  petal_length  petal_width species
0      5.173850     3.523152      1.259387     0.277554  setosa
1      4.951607     3.253669      1.428490     0.288109  setosa
2      5.226691     3.142770      1.441739     0.175197  setosa
3      5.533060     3.632437      1.363613     0.275548  setosa
4      4.918046     3.791780      1.472581     0.282238  setosa

In [6]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0        5.173850     3.523152      1.259387     0.277554     setosa
1        4.951607     3.253669      1.428490     0.288109     setosa
2        5.226691     3.142770      1.441739     0.175197     setosa
3        5.533060     3.632437      1.363613     0.275548     setosa
4        4.918046     3.791780      1.472581     0.282238     setosa
..            ...          ...           ...          ...        ...
145      7.028590     3.172451      5.161708     1.862296  virginica
146      6.834623     2.668081      5.917390     1.927134  virginica
147      5.998477     2.939092      5.488325     1.735734  virginica
148      6.271125     2.719802      5.804130     1.880041  virginica
149      5.922103     2.557504      5.267808     2.101871  virginica

[150 rows x 5 columns]

In [7]:
iris_df.shape

(150, 5)

In [8]:
iris_df.info

<bound method DataFrame.info of      sepal_length  sepal_width  petal_length  petal_width    species
0        5.173850     3.523152      1.259387     0.277554     setosa
1        4.951607     3.253669      1.428490     0.288109     setosa
2        5.226691     3.142770      1.441739     0.175197     setosa
3        5.533060     3.632437      1.363613     0.275548     setosa
4        4.918046     3.791780      1.472581     0.282238     setosa
..            ...          ...           ...          ...        ...
145      7.028590     3.172451      5.161708     1.862296  virginica
146      6.834623     2.668081      5.917390     1.927134  virginica
147      5.998477     2.939092      5.488325     1.735734  virginica
148      6.271125     2.719802      5.804130     1.880041  virginica
149      5.922103     2.557504      5.267808     2.101871  virginica

[150 rows x 5 columns]>

In [9]:
iris_df[['sepal_length', 'sepal_width']].mean()
iris_df[['sepal_length', 'sepal_width']].std()

sepal_length    0.873636
sepal_width     0.421850
dtype: float64

In [10]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [11]:
iris_df.first

<bound method NDFrame.first of      sepal_length  sepal_width  petal_length  petal_width    species
0        5.173850     3.523152      1.259387     0.277554     setosa
1        4.951607     3.253669      1.428490     0.288109     setosa
2        5.226691     3.142770      1.441739     0.175197     setosa
3        5.533060     3.632437      1.363613     0.275548     setosa
4        4.918046     3.791780      1.472581     0.282238     setosa
..            ...          ...           ...          ...        ...
145      7.028590     3.172451      5.161708     1.862296  virginica
146      6.834623     2.668081      5.917390     1.927134  virginica
147      5.998477     2.939092      5.488325     1.735734  virginica
148      6.271125     2.719802      5.804130     1.880041  virginica
149      5.922103     2.557504      5.267808     2.101871  virginica

[150 rows x 5 columns]>

In [ ]:
iris_df.head(10)# first 10 rows

   sepal_length  sepal_width  petal_length  petal_width species
0      5.173850     3.523152      1.259387     0.277554  setosa
1      4.951607     3.253669      1.428490     0.288109  setosa
2      5.226691     3.142770      1.441739     0.175197  setosa
3      5.533060     3.632437      1.363613     0.275548  setosa
4      4.918046     3.791780      1.472581     0.282238  setosa
5      4.918052     3.753886      1.568689     0.171421  setosa
6      5.552724     3.081097      1.820652     0.455235  setosa
7      5.268602     3.282499      1.529678     0.302122  setosa
8      4.835684     3.525880      1.543784     0.118957  setosa
9      5.189896     3.770707      1.487344     0.322221  setosa

In [13]:
iris_df.tail(10)# last 10 rows

     sepal_length  sepal_width  petal_length  petal_width    species
140      6.845802     2.997449      6.059631     2.019323  virginica
141      6.579075     3.473582      4.978661     1.871032  virginica
142      5.276837     3.024758      5.891392     2.129325  virginica
143      6.542963     2.724389      6.392863     2.090089  virginica
144      5.765140     3.487400      4.240596     2.280136  virginica
145      7.028590     3.172451      5.161708     1.862296  virginica
146      6.834623     2.668081      5.917390     1.927134  virginica
147      5.998477     2.939092      5.488325     1.735734  virginica
148      6.271125     2.719802      5.804130     1.880041  virginica
149      5.922103     2.557504      5.267808     2.101871  virginica

In [17]:
iris_df.count()

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64

In [16]:
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.822797     3.059982      3.755404     1.201029
std        0.873636     0.421850      1.711505     0.747487
min        4.314115     1.795207      1.173809     0.083367
25%        5.075998     2.747947      1.591489     0.319673
50%        5.731060     3.046062      4.292210     1.324807
75%        6.446149     3.351060      5.138926     1.879024
max        7.918879     3.994565      6.650179     2.613087

In [20]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [21]:
# unique values

for col in iris_df.columns:
    unique_no_of_values = iris_df[col].unique
    print(unique_no_of_values)

<bound method Series.unique of 0      5.173850
1      4.951607
2      5.226691
3      5.533060
4      4.918046
         ...
145    7.028590
146    6.834623
147    5.998477
148    6.271125
149    5.922103
Name: sepal_length, Length: 150, dtype: float64>
<bound method Series.unique of 0      3.523152
1      3.253669
2      3.142770
3      3.632437
4      3.791780
         ...
145    3.172451
146    2.668081
147    2.939092
148    2.719802
149    2.557504
Name: sepal_width, Length: 150, dtype: float64>
<bound method Series.unique of 0      1.259387
1      1.428490
2      1.441739
3      1.363613
4      1.472581
         ...
145    5.161708
146    5.917390
147    5.488325
148    5.804130
149    5.267808
Name: petal_length, Length: 150, dtype: float64>
<bound method Series.unique of 0      0.277554
1      0.288109
2      0.175197
3      0.275548
4      0.282238
         ...
145    1.862296
146    1.927134
147    1.735734
148    1.880041
149    2.101871
Name: petal_width, Length: 150, dtype: float64>
<bound method Series.unique of 0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object>

## Data Filtering

In [23]:
# get all the values of sepal length which are greater than 6.5

iris_df["sepal_length"]>6.5

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147    False
148    False
149    False
Name: sepal_length, Length: 150, dtype: bool

In [ ]:
iris_df [iris_df["sepal_length"]>6.5] # when we want all the values

     sepal_length  sepal_width  petal_length  petal_width     species
59       7.903420     3.040137      4.204969     1.134554  versicolor
70       7.103622     3.246795      4.345588     1.304902  versicolor
84       7.014851     3.461240      4.758306     1.148173  versicolor
98       6.818036     3.051987      3.962331     1.277092  versicolor
102      6.603356     2.684568      4.830788     2.315301   virginica
103      6.630068     3.161295      5.909633     2.068694   virginica
105      6.998624     2.746281      5.332081     1.888793   virginica
107      6.508877     2.668722      5.124805     1.883209   virginica
108      6.676989     2.822832      5.626687     2.106502   virginica
109      6.929241     2.616679      5.142977     1.886334   virginica
110      7.055434     3.628712      5.748751     2.078239   virginica
113      7.417713     3.068474      5.100840     1.911974   virginica
114      6.812681     2.964055      5.282776     2.324328   virginica
116      7.592737     3.196533      5.875504     1.449706   virginica
117      6.674032     3.242402      5.062345     1.727817   virginica
118      7.354750     2.830240      5.654633     1.494886   virginica
119      6.643212     2.815738      6.013263     1.905091   virginica
120      7.918879     2.911983      4.681827     2.004973   virginica
121      7.723418     2.263385      5.898848     2.452638   virginica
123      7.221805     3.437400      5.913829     1.940843   virginica
124      7.013041     3.526390      5.180207     2.223940   virginica
125      7.475924     2.920308      4.607315     1.402993   virginica
127      7.039073     3.099600      5.626447     2.208134   virginica
128      7.277392     3.985242      5.742847     1.600782   virginica
133      7.059227     3.065108      4.933941     2.613087   virginica
134      7.561509     2.757968      5.241490     2.049104   virginica
135      6.647421     2.544879      5.626069     2.067020   virginica
136      7.642314     2.793097      5.126773     1.875973   virginica
139      6.564449     3.282125      5.282709     1.768857   virginica
140      6.845802     2.997449      6.059631     2.019323   virginica
141      6.579075     3.473582      4.978661     1.871032   virginica
143      6.542963     2.724389      6.392863     2.090089   virginica
145      7.028590     3.172451      5.161708     1.862296   virginica
146      6.834623     2.668081      5.917390     1.927134   virginica

In [ ]:
#Find out all the values for petal_width which are < 1. output willl be only one column petal_width
iris_df [iris_df["petal_width"]<1]["petal_width"]
#iris_df["petal_width"]

0     0.277554
1     0.288109
2     0.175197
3     0.275548
4     0.282238
5     0.171421
6     0.455235
7     0.302122
8     0.118957
9     0.322221
10    0.142785
11    0.336579
12    0.377446
13    0.159725
14    0.355971
15    0.295406
16    0.340427
17    0.458647
18    0.223007
19    0.167089
20    0.152153
21    0.160261
22    0.241519
23    0.287527
24    0.280436
25    0.340990
26    0.251430
27    0.409889
28    0.220888
29    0.549219
30    0.318823
31    0.155713
32    0.132202
33    0.303072
34    0.225419
35    0.328540
36    0.302056
37    0.241989
38    0.156853
39    0.083367
40    0.200883
41    0.344204
42    0.273550
43    0.112969
44    0.269050
45    0.292385
46    0.152776
47    0.266910
48    0.256403
49    0.124273
82    0.875221
96    0.957373
Name: petal_width, dtype: float64

In [ ]:
iris_df [iris_df["petal_width"]<1][["petal_width","petal_length"]] ## multiple columns - double brackets saperated by commas

    petal_width  petal_length
0      0.277554      1.259387
1      0.288109      1.428490
2      0.175197      1.441739
3      0.275548      1.363613
4      0.282238      1.472581
5      0.171421      1.568689
6      0.455235      1.820652
7      0.302122      1.529678
8      0.118957      1.543784
9      0.322221      1.487344
10     0.142785      1.173809
11     0.336579      1.495493
12     0.377446      1.510239
13     0.159725      1.918751
14     0.355971      1.467299
15     0.295406      1.551263
16     0.340427      1.494099
17     0.458647      1.301325
18     0.223007      1.694280
19     0.167089      1.627829
20     0.152153      1.634475
21     0.160261      1.345404
22     0.241519      1.738475
23     0.287527      1.261685
24     0.280436      1.599766
25     0.340990      1.872377
26     0.251430      1.331609
27     0.409889      1.403729
28     0.220888      1.516941
29     0.549219      1.414409
30     0.318823      1.236387
31     0.155713      1.511656
32     0.132202      1.319408
33     0.303072      1.580511
34     0.225419      1.343698
35     0.328540      1.763489
36     0.302056      1.366847
37     0.241989      1.445250
38     0.156853      1.638298
39     0.083367      1.290753
40     0.200883      1.538668
41     0.344204      1.722214
42     0.273550      1.226728
43     0.112969      1.531388
44     0.269050      1.544180
45     0.292385      1.632910
46     0.152776      1.289718
47     0.266910      1.275522
48     0.256403      1.588730
49     0.124273      1.550487
82     0.875221      4.335628
96     0.957373      3.619400

In [43]:
# and condition

#sepal length > 6 adn petal_length > 5

(iris_df["sepal_length"] > 6) & (iris_df["petal_length"] > 5)  # ( ) and (  )

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147    False
148     True
149    False
Length: 150, dtype: bool

In [44]:
iris_df[(iris_df["sepal_length"] > 6) & (iris_df["petal_length"] > 5) ]

     sepal_length  sepal_width  petal_length  petal_width    species
101      6.216400     3.305646      6.650179     1.957967  virginica
103      6.630068     3.161295      5.909633     2.068694  virginica
104      6.311958     2.830318      5.242147     2.091153  virginica
105      6.998624     2.746281      5.332081     1.888793  virginica
107      6.508877     2.668722      5.124805     1.883209  virginica
108      6.676989     2.822832      5.626687     2.106502  virginica
109      6.929241     2.616679      5.142977     1.886334  virginica
110      7.055434     3.628712      5.748751     2.078239  virginica
113      7.417713     3.068474      5.100840     1.911974  virginica
114      6.812681     2.964055      5.282776     2.324328  virginica
115      6.120969     2.929290      6.015465     1.889820  virginica
116      7.592737     3.196533      5.875504     1.449706  virginica
117      6.674032     3.242402      5.062345     1.727817  virginica
118      7.354750     2.830240      5.654633     1.494886  virginica
119      6.643212     2.815738      6.013263     1.905091  virginica
121      7.723418     2.263385      5.898848     2.452638  virginica
122      6.440663     2.515139      5.235557     2.088270  virginica
123      7.221805     3.437400      5.913829     1.940843  virginica
124      7.013041     3.526390      5.180207     2.223940  virginica
127      7.039073     3.099600      5.626447     2.208134  virginica
128      7.277392     3.985242      5.742847     1.600782  virginica
132      6.427580     2.485937      5.563656     2.170851  virginica
134      7.561509     2.757968      5.241490     2.049104  virginica
135      6.647421     2.544879      5.626069     2.067020  virginica
136      7.642314     2.793097      5.126773     1.875973  virginica
139      6.564449     3.282125      5.282709     1.768857  virginica
140      6.845802     2.997449      6.059631     2.019323  virginica
143      6.542963     2.724389      6.392863     2.090089  virginica
145      7.028590     3.172451      5.161708     1.862296  virginica
146      6.834623     2.668081      5.917390     1.927134  virginica
148      6.271125     2.719802      5.804130     1.880041  virginica

In [45]:
# OR condition
iris_df[(iris_df["sepal_length"] > 6) | (iris_df["petal_length"] > 5) ]

     sepal_length  sepal_width  petal_length  petal_width     species
50       6.086049     2.409126      3.910372     1.362182  versicolor
51       6.191608     3.084537      4.036715     1.595071  versicolor
52       6.463187     3.457868      4.651228     1.471532  versicolor
53       6.447977     3.120064      4.586874     1.268012  versicolor
56       6.167818     3.192742      4.900503     1.296297  versicolor
..            ...          ...           ...          ...         ...
145      7.028590     3.172451      5.161708     1.862296   virginica
146      6.834623     2.668081      5.917390     1.927134   virginica
147      5.998477     2.939092      5.488325     1.735734   virginica
148      6.271125     2.719802      5.804130     1.880041   virginica
149      5.922103     2.557504      5.267808     2.101871   virginica

[73 rows x 5 columns]

In [46]:
# membership check
# if setosa and virginica are there in species or not

iris_df["species"].isin(["setosa","virginica"])

0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: species, Length: 150, dtype: bool

In [47]:
iris_df[iris_df["species"].isin(["setosa","virginica"])]

     sepal_length  sepal_width  petal_length  petal_width    species
0        5.173850     3.523152      1.259387     0.277554     setosa
1        4.951607     3.253669      1.428490     0.288109     setosa
2        5.226691     3.142770      1.441739     0.175197     setosa
3        5.533060     3.632437      1.363613     0.275548     setosa
4        4.918046     3.791780      1.472581     0.282238     setosa
..            ...          ...           ...          ...        ...
145      7.028590     3.172451      5.161708     1.862296  virginica
146      6.834623     2.668081      5.917390     1.927134  virginica
147      5.998477     2.939092      5.488325     1.735734  virginica
148      6.271125     2.719802      5.804130     1.880041  virginica
149      5.922103     2.557504      5.267808     2.101871  virginica

[100 rows x 5 columns]

In [51]:
# Not condition

iris_df[iris_df["species"] != "setosa"]

     sepal_length  sepal_width  petal_length  petal_width     species
50       6.086049     2.409126      3.910372     1.362182  versicolor
51       6.191608     3.084537      4.036715     1.595071  versicolor
52       6.463187     3.457868      4.651228     1.471532  versicolor
53       6.447977     3.120064      4.586874     1.268012  versicolor
54       5.183612     2.328995      4.290176     1.296197  versicolor
..            ...          ...           ...          ...         ...
145      7.028590     3.172451      5.161708     1.862296   virginica
146      6.834623     2.668081      5.917390     1.927134   virginica
147      5.998477     2.939092      5.488325     1.735734   virginica
148      6.271125     2.719802      5.804130     1.880041   virginica
149      5.922103     2.557504      5.267808     2.101871   virginica

[100 rows x 5 columns]

## GROUP BY

In [55]:
#Aggregation
# Data Summarization
iris_df.groupby("species")["petal_length"].mean()
iris_df.groupby("species")[["petal_length","sepal_width"]].mean()

            petal_length  sepal_width
species
setosa          1.493321     3.406757
versicolor      4.315125     2.793435
virginica       5.457765     2.979755

In [ ]:
# Multiple Aggregations
iris_df.groupby("species")["petal_length"].agg(["count","mean","std","min","max"])

            count      mean       std       min       max
species
setosa         50  1.493321  0.172620  1.173809  1.918751
versicolor     50  4.315125  0.363661  3.619400  5.283422
virginica      50  5.457765  0.496942  4.240596  6.650179

In [57]:
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.822797     3.059982      3.755404     1.201029
std        0.873636     0.421850      1.711505     0.747487
min        4.314115     1.795207      1.173809     0.083367
25%        5.075998     2.747947      1.591489     0.319673
50%        5.731060     3.046062      4.292210     1.324807
75%        6.446149     3.351060      5.138926     1.879024
max        7.918879     3.994565      6.650179     2.613087

In [59]:
iris_df.groupby("species").agg(
    avg_speacial_len=('sepal_length',"max"),
    count_speacial_len=('petal_length',"count"),
    max_speacial_len=('sepal_length',"max")
)

            avg_speacial_len  count_speacial_len  max_speacial_len
species
setosa              5.648297                  50          5.648297
versicolor          7.903420                  50          7.903420
virginica           7.918879                  50          7.918879

In [60]:
import numpy as np
import pandas as pd

# For reproducibility
np.random.seed(42)

# Number of wine samples
n_wines = 200

# Create wine dataset
df_wine = pd.DataFrame({
    'alcohol': np.random.uniform(8, 15, n_wines),
    'acidity': np.random.uniform(2.5, 4.0, n_wines),
    'pH': np.random.uniform(2.8, 3.8, n_wines),
    'density': np.random.uniform(0.99, 1.00, n_wines),
    'sulphates': np.random.uniform(0.3, 1.5, n_wines),
    'residual_sugar': np.random.uniform(1, 15, n_wines)
})

df_wine.head()

     alcohol   acidity        pH   density  sulphates  residual_sugar
0  10.621781  3.463047  2.903124  0.991689   1.148686        3.591861
1  14.655000  2.626210  3.702553  0.992786   0.483047        8.586613
2  13.123958  2.742443  3.305252  0.991770   0.991546       13.221242
3  12.190609  3.847831  3.626457  0.990887   1.028058       11.251148
4   9.092130  3.409644  3.120050  0.991206   0.808957       12.291856

In [61]:
df_wine["wine_type"] = np.random.choice(
    ["red", "white", "rose"],
    p=[0.5, 0.4, 0.1]
)

In [62]:
df_wine.describe()

,alcohol,acidity,pH,density,sulphates,residual_sugar
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,11.388044,3.256563,3.320673,0.994788,0.856149,8.611123
std,2.064240,0.439502,0.307309,0.002788,0.342399,4.246778
min,8.038655,2.507592,2.810838,0.990181,0.305558,1.089402
25%,9.600077,2.892194,3.055520,0.992360,0.551281,4.637076
50%,11.461404,3.312460,3.325399,0.994671,0.832061,9.324469
75%,13.298017,3.613299,3.611115,0.997244,1.127971,12.475037
max,14.908209,3.985758,3.799718,0.999900,1.496249,14.971078

In [63]:
df_wine

,alcohol,acidity,pH,density,sulphates,residual_sugar,wine_type
0,10.621781,3.463047,2.903124,0.991689,1.148686,3.591861,white
1,14.655000,2.626210,3.702553,0.992786,0.483047,8.586613,white
2,13.123958,2.742443,3.305252,0.991770,0.991546,13.221242,white
3,12.190609,3.847831,3.626457,0.990887,1.028058,11.251148,white
4,9.092130,3.409644,3.120050,0.991206,0.808957,12.291856,white
...,...,...,...,...,...,...,...
195,10.444467,3.896136,3.273962,0.998721,0.409898,13.201515,white
196,13.081690,3.787619,3.467558,0.999321,1.400776,14.628846,white
197,14.279772,3.143491,2.972320,0.995651,0.464182,14.564290,white
198,14.209605,3.626307,2.992289,0.996967,1.440285,11.495126,white
199,13.459129,3.631814,2.840869,0.999225,0.835207,2.821207,white

In [67]:
df_wine["wine_type"] == "red"

0      True
1      True
2      True
3      True
4      True
       ...
195    True
196    True
197    True
198    True
199    True
Name: wine_type, Length: 200, dtype: bool

In [68]:
df_wine[df_wine["wine_type"] == "red"]

,alcohol,acidity,pH,density,sulphates,residual_sugar,wine_type
0,10.621781,3.463047,2.903124,0.991689,1.148686,3.591861,red
1,14.655000,2.626210,3.702553,0.992786,0.483047,8.586613,red
2,13.123958,2.742443,3.305252,0.991770,0.991546,13.221242,red
3,12.190609,3.847831,3.626457,0.990887,1.028058,11.251148,red
4,9.092130,3.409644,3.120050,0.991206,0.808957,12.291856,red
...,...,...,...,...,...,...,...
195,10.444467,3.896136,3.273962,0.998721,0.409898,13.201515,red
196,13.081690,3.787619,3.467558,0.999321,1.400776,14.628846,red
197,14.279772,3.143491,2.972320,0.995651,0.464182,14.564290,red
198,14.209605,3.626307,2.992289,0.996967,1.440285,11.495126,red
199,13.459129,3.631814,2.840869,0.999225,0.835207,2.821207,red

In [69]:
len(df_wine[df_wine["wine_type"] == "red"])

200

In [70]:
import pandas as pd

data = {
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'IT', 'IT'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 80000],
    'Bonus': [2000, 3000, 1000, 1500, 5000, 6000]
}

df = pd.DataFrame(data)
print(df)

  Department  Salary  Bonus
0      Sales   50000   2000
1      Sales   60000   3000
2         HR   45000   1000
3         HR   55000   1500
4         IT   70000   5000
5         IT   80000   6000

In [74]:
df.groupby('Department').agg({
    'Salary': 'sum',
    'Bonus': 'mean'
})

            Salary   Bonus
Department
HR          100000  1250.0
IT          150000  5500.0
Sales       110000  2500.0

## Lambda

In [75]:
def square(x):
    return x** 2

In [76]:
square_lambda = lambda x: x**2

In [77]:
square_lambda(5)

25