## TUPLES

In [4]:
list = [1,2,3,4] 
list[1]
list.append(5)
print(list)

[1, 2, 3, 4, 5]

# Tuples are Immutable
# Examples: 
Function Parameteres,
Function returns, 
Dictionary Keys
Better Performance

point = (2,4)

In [ ]:
point = (2,4)
print(type(point))
print(point[0])

x,y = point # access
print(x)
print(y)

<class 'tuple'>
2
2
4

In [10]:
# tuple with single value - add comma
tup = (3,)
type(tup)

tuple

In [ ]:
point[0] = 10 # Immutable

TypeError: 'tuple' object does not support item assignment

In [14]:
len(point)

2

In [17]:
rgb = (0,255,0)
print(rgb.count(255)) # how many 255 are there in tuple
print(rgb.count(0))

1
2

In [18]:
a,_= point

In [19]:
print(a)

2

In [21]:
#Lits of tuples
coordinates = [(0,0),(1,2),(3,4)]
for x,y in coordinates:
    print(f"Point : ({x},{y})")

Point : (0,0)
Point : (1,2)
Point : (3,4)

## SETS

Sets are unordered collection of unique elements
use {} curly braces
Mutable
Based on hash tables -> very fast lookups

When to use:
Remove duplicates from a list
Set operations: Union,intersection, difference

ML Use Cases;
Vocabulary creation(Unique words in text)
Data Cleaning(find unique values, duplicates)

In [ ]:
# Creation of set
fruits = {'apple','banana','cherry'}
print(type(fruits),fruits)

<class 'set'> {'banana', 'cherry', 'apple'}

In [24]:
empty_set = set() # dont use {} as it creates dictionary
type(empty_set)

set

In [25]:
fruits.add('orange')
print(fruits)

fruits.remove('cherry')
print(fruits)

{'banana', 'orange', 'cherry', 'apple'}
{'banana', 'orange', 'apple'}

In [26]:
'apple' in fruits

True

In [ ]:
A= {1,2,3,4,5}
B={5,6,7,8,9}
print(A.union(B))
print(A.intersection(B))
print(A-B) # take A and subtract B or A.difference(B)
print(B-A) #B.difference(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5}
{1, 2, 3, 4}
{8, 9, 6, 7}

In [ ]:
print("=== Example 1: Building Vocabulary ===")
documents = [
    "machine learning is awesome",
    "deep learning is powerful",
    "machine learning and deep learning"
]

## Question: Build a vocabulary set of unique words from these documents
parstr =" ".join(documents)
newStr = parstr.split(" ")
print(newStr)


vocabulary = set() # set stores only unique words
for doc in documents:
    words = doc.lower.split()
    vocabulary.update(words)

=== Example 1: Building Vocabulary ===
['machine', 'learning', 'is', 'awesome', 'deep', 'learning', 'is', 'powerful', 'machine', 'learning', 'and', 'deep', 'learning']

In [ ]:
A = {1,2,3,4,5}
B= {1,2,3}
B.issubset(A) # is all elements of B present in A

In [ ]:
#Example 2: Train-Test Split Validation
train_ids = {1,2,3,4,5,6,7,8}
test_ids = {9,10,11,12}
train_ids.intersection(test_ids) # or train_ids & test_ids

set()

## DICTIONARY

In [ ]:
### SEARCH IN O(1)
# UNORDERED COLLECTION OF KEY - VALUE PAIRS
# CREATED USING {} OR DICT()

In [37]:
word = {}
type(word)

dict

In [39]:
employee_slary = {
    "Akshith": 5000,
    "Praveen": 6000,
    "Sandhya": 7000
}
employee_slary["Praveen"]

6000

In [40]:
# When to use:
# 1) Lookup by name/ID
# 2)count occurency of items

# ML use cases:
# Word Frequency counts
#Feature mappings (label encoding)

# Performance:
# Lookup, insert,delete : O(1)
# Much faster than lists for searching

In [41]:
# Hashmap or Dictionary
student = {'name':'Akshith','age':30,'grade':'A'}
empty_dict = {}

print(type(student),student)
print(type(empty_dict),empty_dict)

<class 'dict'> {'name': 'Akshith', 'age': 30, 'grade': 'A'}
<class 'dict'> {}

In [42]:
# Access values:
student['name']

'Akshith'

In [ ]:
student.get('name') # Best way to access a value from dict

'Akshith'

In [ ]:
# Adding and Modifying

student['email'] = 'akshithreddy' # inserting IMP

In [45]:
print(student)

{'name': 'Akshith', 'age': 30, 'grade': 'A', 'email': 'akshithreddy'}

In [46]:
del student['grade']

In [47]:
print(student)

{'name': 'Akshith', 'age': 30, 'email': 'akshithreddy'}

In [48]:
for stu in student:
    print(student[stu])

Akshith
30
akshithreddy

In [49]:
popped_email = student.pop('email')
print(popped_email)

akshithreddy

In [50]:
# Dictionary methods:

print(student)

{'name': 'Akshith', 'age': 30}

In [53]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age'])
dict_values(['Akshith', 30])
dict_items([('name', 'Akshith'), ('age', 30)])

In [56]:
for key,value in student.items():
    print(f"{key} scored {value}")

name scored Akshith
age scored 30

In [ ]:
#1: Word Frequency Count
text = "machine learning is great machine learning is powerful learning is fun"

dict = {}
words = text.lower().split()
for word in words:
    if word in dict: ##### IMMMMMMPPPPP
        dict[word] += 1
    else:
        dict[word] = 1
print(dict)

{'machine': 2, 'learning': 3, 'is': 3, 'great': 1, 'powerful': 1, 'fun': 1}

## FUNCTIONS

In [ ]:
def sum_values(a,b):
    """
    Docstring for sum_values
    
    :param a: Description
    :param b: Description
    """ 
    total = a+b
    return total

print(sum_values(1,2))
print(sum_values(a=1,b=2)) # keyword parameters

3
3

In [ ]:
def sum_values(a,b=4): # default parameters
    """
    Docstring for sum_values
    
    :param a: Description
    :param b: Description
    """ 
    total = a+b
    return total

print(sum_values(1,2))
print(sum_values(a=1,b=2)) # keyword parameteres
print(sum_values(1)) # uses dafault parameters

3
3
5